.button {
  border-radius: 50%;
  padding: 10px;
  font-size: 28px;
  margin-bottom: 30px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
  position: fixed;
  right: 1rem;
  top: 1rem;
  color: #ebf4f1;
}

.sidebar {
  height: 100%;
  padding: 30px;
  transition: all 0.5s ease;
}

.sidebar .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.pro-img {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 5px;
}

.pro-info {
  width: 190px;
  margin: 15px 0;
  text-align: center;
}

.sidebar .ul .li .a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  padding: 15px 15px;
  position: relative;
  transition: all 0.5s ease;
  border-radius: 3px;
  color: black;
  font-weight: 500;
}

.sidebar .ul .li .a .icon {
  font-size: 28px;
  display: inline-block;
  transition: all 0.2s ease;
  padding: 0 5px;
  margin-top: 5px;
}

.item {
  width: 100%;
  display: inline-block;
  vertical-align: text-bottom;
  transition: all 1s ease;
  white-space: nowrap;
}

.sidebar .ul .li {
  list-style: none;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
  position: relative;
}

section.active .sidebar {
  padding: 30px 0;
}

section.active .sidebar .ul .li .a {
  width: 40px;
}

section.active .icon {
  text-align: center;
  height: 42px;
}

section.active .item {
  width: 0;
  opacity: 0;
  transition: all 0.2s ease;
  display: none;
}

.ul {
  padding-left: 0;
}

.display-none {
  display: none;
}

@media screen and (max-width: 600px) {
  .sidebar .ul .li .a {
    width: 70%;
    padding: 7px 10px;
  }

  .sidebar .ul .li .a .icon {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .sidebar .ul .li .a {
    padding: 5px 10px;
  }

  .item {
    display: none;
  }
}
